* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', serif;
    box-sizing: border-box;
}

body{
  padding: 0px;
  margin: 0px;
  background: white;
}

a{
    text-decoration: none;
    color: white;
  }

h1{
  color: #428bca;
}

.page-wrapper{
  min-height: 800px;
}

.clearfix::after{
  content: '';
  display: block;
  clear: both;
}
/*-------------------PLATTERLY LOGO----------------------------------*/
.log-cont{
    background-color: rgb(253, 240, 240);
}

.log-cont .log-cld img{
    height: 90%;
    width:50%;
    margin: 10px 340px;
    justify-content: center;
}
/*---------------------LOGO ENDS HERE--------------------------------*/

/*----------------------CAROUSEL STARTS-------------------------------*/
.Slide {
    display: none;
}

img {
    vertical-align: middle;
    padding: 0;
    width: 100%;
    height: calc(75vh - 60px);
    background-size: cover;
    background-position: top right;
    background-repeat: no-repeat;
    overflow: hidden;
}

.slideContainer {
    /*max-width: 600px;*/
    position: relative;
    margin: auto;
}

.prevBtn,
.nextBtn {
    position: absolute;
    top: 38%;
    width: 45px;
    padding: 10px;
    margin: 0 10px;
    border: 3px outset rgb(6, 245, 86);
    color: rgb(233, 6, 203);
    font-weight: bolder;
    font-size: 45px;
}

.nextBtn {
    right: 0;
}

.prevBtn:hover,
.nextBtn:hover {
    cursor: pointer;
}

.mySlides {
    margin-top: -300px;
    margin-left: 90px;
    width: 30%;
    font-size: 20px;
    color: white;
    position: absolute;
    text-align: justify;
}

.Caption {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 60px;
    padding: 8px 12px;
    margin-left: -8px;
    margin-top: 20px;
    position: absolute;
    width: 30%;
    text-align: center;
}

.Navdot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: rgb(13, 241, 211);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.selected,
.Navdot:hover {
    background-color: rgb(71, 69, 69);
}
/*----------------CAROUSEL ENDS HERE--------------------*/

/*-----------------MAIN CONTENT-----------------------------*/
.content {
    width: 95%;
    text-align: center;
    margin: 20px auto 20px;
    
}

.content .main-content .post1 {
    width: 90%;
    min-height: 200px;
    margin: 20px auto;
    border-radius: 5px;
    background: #B8C4E0;
    position: relative;
}

.content .main-content .post1 .post-image {
    width: 40%;
    height:100%;
    float: left;
}

.content .main-content .post1 .post-preview {
    width: 60%;
    padding: 10px;
    float: right;
}

.content .main-content .post1 .box-4 {
    width: 40%;
    height:100%;
}
/*------------------------Our Team ---------------------------*/
  .team-section{
    background-color: #6180a3;
    height: 60%;
    padding: 70px 15px;
  }
  .filler{
  max-width: 1000px;
  margin: auto;
  }
  .row{
   display: flex;
   flex-wrap: wrap;

  }
  .team-section .section-title{

  flex-basis: 100%;
  max-width: 100%;
  margin-bottom: 70px;
  }

  .team-section .section-title h1{
  font-size: 40px;
  text-align: center;
  margin: 0;
  color: #ffffff;
  font-weight: 700;
  }
  .team-section .section-title p{
  font-size: 16px;
  text-align: center;
  margin: 15px 0 0;
  color: #ffffff;
  }

  .team-section .team-items{
   flex-basis: 100%;
   max-width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;

  }
  .team-section .team-items .item{
  flex-basis: calc(25% - 30px);
  max-width: calc(25% - 30px);
  }

  .team-section .team-items .item img{
  display: block;
  width: 100%;
  height: auto;
  border-radius: 8px;
  }

  .team-section .team-items .inner{
  position: relative;
  z-index: 11;
  padding:0 15px;
  }
  .team-section .team-items .inner .info{
  background-color: #428bca;
  text-align: center;
  padding: 20px 15px;
  border-radius: 8px;
  transition: all .3s ease;
  margin-top: -40px;
  }

  .team-section .team-items .item:hover .info{
  transform: translateY(-20px);
  }
  .team-section .team-items .item:hover{
  transform: translateY(-10px);
  }
  .team-section .team-items .inner .info h5{
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  }
  .team-section .team-items .inner .info p{
  font-size: 16px;
  font-weight: 400;
  color: #c5c5c5;
  margin: 10px 0 0;
  }
  .team-section .team-items .inner .info .social-links{
  padding-top: 10px;
  }
  .team-section .team-items .inner .info .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: #ffffff;
  color: #428bca;
  border-radius: 50%;
  margin: 0 2px;
  text-align: center;
  line-height: 45px;
  font-size: 25px;
  transition: all .5s ease;
  }
  .team-section .team-items .inner .info .social-links a:hover{
  box-shadow: 0 0 10px #000;
  }
  /*----------------------End of our team-----------------------*/

  /*------------------------ Footer ---------------------------*/
.footer {
    background: #33393d;
    color: #d3d3d3;
    height: 350px;
    position: relative;
 }
 
 /**** Content style*****/
 .footer .footer-content  {
   height: 350px;
   display: flex;
 }
 /***section style******/
 .footer .footer-content .footer-section{
   flex: 1;
   padding: 12px;
 }
 
 .footer .footer-content h1, h2{
   color: white;
   text-align: left;
 }
 
 /**** About *****/
 .footer .footer-content .about .contact p {
   display: block;
   color: white;
   font-size: 18px;
   margin-bottom: 5px;
 }
 
  .footer .footer-content .footer-section .socials a {
   border: 1px solid #6180a3;
   width: 45px;
   height: 41px;
   padding-top: 3px;
   text-align: center;
   display: inline-block;
   font-size: 25px;
   border-radius: 30px;
 }
      /*---icons hovering-----*/
   .footer .footer-content .footer-section a:hover{
   color: white;
   transition: all .3s;
 }
 
 /**** Links Style******/
 .footer .footer-content  .links ul a{
   display: block;
   margin-bottom: 5px;
   font-size: 1.2em;
   transition: all .3s;
 }
    /*linkd hovering n transition*/
 .footer .footer-content .links ul a:hover{
   color: white;
   margin-left: 15px;
   transition: all .3s;
 }
 
 /**** Subscribe style ****/
  .sub-input{
   background: white;
   color: white;
   margin-bottom: 0px;
   padding: 10px;
   height: 40px;
   size: 50px;
   border: none;
 }
 
   /* subscribe button*/
  .btn-big{
    background: #33393d;
    color: white;
    border: none;
    padding: 2.5rem 1.3rem;
    line-height: 1.4rem;
  }
 
 /***** Footer bottom *****/
 .footer .footer-bottom {
   background: #3c444d;
   color: #ffffff;
   height: 50px;
   width: 100%;
   text-align: center;
   position: absolute;
   bottom: 0px;
   left: 0px;
   padding-top: 15px;
   padding-bottom: 10px;
 }
 .back-to-top {
   position: fixed;
   width: 40px;
   height: 40px;
   border-radius: 3px;
   bottom: 7px;
   right: 15px;
   background: #428bca;
   color: #fff;
   transition: display 0.5s ease-in-out;
   z-index: 99999
 }
 .back-to-top i {
     font-size: 24px;
     position: absolute;
     top: 8px;
     left: 8px;
 }
 /*-------------End of footer-------------*/